.email-login {
    margin-top: 45px;
    text-align: center;
    p{
        color: #838383;
    }
    .formfield{
        position: relative ;
        margin: auto;
        padding: 0px;
        border: 0px;
        font-size: 1em;
        margin-bottom: 10px;
    }

    .formfield > input,
    .formfield > label{
        padding: 0.8em;
        margin: 0.5em;
        width: 87%;
    }

    .formfield {
        input {
            border: 1px solid #ddd;
            outline: none;
    } 
    }
    .formfield  {
        label {
        position: absolute ;
        top: 0;
        bottom: 0;
        left: 0;
        text-align: start;
        color: #838383;
        padding-left: 40px;
        }


    }
    input:focus + label,
    input:valid + label {
        font-size : 1rem ;
        width: auto;
        height: 1.3em;
        padding: 0px 0.5em 0px 0.5em;
        margin: 0px;
        background: #ffffff;
        transition: 0.2s ease-in-out;
        top : 0em ;
        left: 2em;
    }
}
