<ion-header>
  <ion-toolbar>
    <ion-title>welcome {{firstName}} {{lastName}} <ion-button (click)="logout()"><ion-icon name="log-out" class="larger"></ion-icon></ion-button>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   <div class="heading">
    <h1>Welcome to my app</h1>
  </div> -->
<div >
<ion-card mode='ios' *ngFor='let item of newsData' >
  <ion-card-header>
     <button (click)="find(item.id)">
      {{item.name}} 
  </button>
  </ion-card-header>
  <ion-card-content>
    <p>
      {{item.description}}
    </p>
  </ion-card-content>
 </ion-card>
 </div>
</ion-content>
